{
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
     "ecmaFeatures": {
       "jsx": true
     }
  },
  "rules": {
    "camelcase": 0,
    "curly": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "keyword-spacing": ["error", { "after": true }],
    "max-depth": [1, 5],
    "complexity": [1, 20],
    "quotes": [2, "single", { "allowTemplateLiterals": true }],
    "strict": [2, "never"],
    "semi": ["error", "never"],
    "no-unexpected-multiline": "error",
    "no-debugger": 2,
    "comma-dangle": ["error", "always-multiline"],
    "space-before-function-paren": ["error", "never"],
    "no-var": "error",
    "no-unused-vars": ["error", { "args": "none" }],
    "no-undef": "error",
    "arrow-parens": ["error", "as-needed"],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
  }
}
